.card-img {
    height: 300px;
    width: 320px;
    border-radius: 25px;
}

.card {
    display: flex;
    flex-direction: column;
}

.top-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-rating {
    display: flex;
    flex-direction: row;
}

.rating-number {
    
}

.star-icon {
    padding-top: 15px;
}