.card-img {
    height: 300px;
    width: 320px;
    border-radius: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

.top-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1rem
}

.middle-card-info {
    display: flex;
    flex-direction: column;
    height: 1rem;
}

.bottom-card-info {
    display: flex;
    flex-direction: column;
    height: 1rem
}

.card-price {
    height: 1rem;
}

.card-rating {
    display: flex;
    flex-direction: row;
}

.rating-number {
    
}

.star-icon {
    padding-top: 15px;
    color: black;
}