.card-img {
    height: 300px;
    width: 320px;
    border-radius: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

.top-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1rem
}

.middle-card-info {
    display: flex;
    flex-direction: column;
    height: 1rem;
}

.bottom-card-info {
    display: flex;
    flex-direction: column;
    height: 1rem
}

.card-price {
    height: 1rem;
    color: black;
    font-weight: bold;
}

.card-rating {
    display: flex;
    flex-direction: row;
}

.rating-number {
    color: black;
}

.filter-info {
    color: var(--font-grey)
}

.dates-available {
    color: var(--font-grey)
}

.card {
    text-decoration: none;
}

.card-title {
    color: black;
    font-weight: bold;
}

.star-icon {
    padding-top: 15px;
    color: black;
    width: 0.75em;
    height: 0.75em;
}